body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  color:#c9ccea;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(39,42,85);
  background: radial-gradient(circle, #1E2140 0%, #151932 65%); 
}

.container h1 {
  font-size:2.6rem;
  margin-bottom:0.2rem;
}

.container .labels {
  list-style: none;
  display: flex;
  text-transform: uppercase;
  font-size: .8rem;
  padding:.3rem .3rem;
  background-color: #0C0E1B;
  border-radius: 1.5rem;
}

.active-label {
  color: #0C0E1B;
  background-color: #FE6F6B;
}

.timer-container {
  display: flex;
  flex:2;
  align-items: center;
  justify-content: center;
}

.time-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  width: 15rem;
  border-radius: 7.5rem;
  color:#efefef;
  background: #151932;
  font-size: 3.5rem;
  box-shadow: 1rem 1.5rem 2rem rgba(0,0,0,0.6)
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:2rem
}

button {
  color:#efefef;
  font-size:0.8rem;
  padding: 0.5rem 1.2rem;
  border:none;
  border-radius:3rem;
  margin:0.2rem;;
  background:#0C0E1B;
  min-width: 80px;
  cursor: pointer;
}

.button-wrapper button.activve {
  color: #0C0E1B;
  background-color: #C9CCEA;
  border: 1px solid #0C0E1B;
}
.form-container {
  text-align: center;
}
.input-wrapper {
  margin: 1.5rem;
}
.input-wrapper input {
  height: 30px;
  width: 30px;
  padding: 2rem;
  background-color: #0C0E1B;
  color:#C9CCEA;
  border: none;
  border-radius: 50%;
  margin-right: 0.3rem;
  text-align: center;
  font-size: 14pt;
}
